<div class="containerCard">
    <div class="contaienrcardProduct col-12">
        <div class="containerImgProduct">
            <img src="../../../../assets/images/5e84afb399f472497643a1be_el_caballo_negro.ico" style="width: 70%;" alt="">
        </div>
        <div class="containerImgProduct"><img src="../../../../assets/images/5e84afb399f472497643a1be_el_caballo_negro.ico" style="width: 70%;" alt=""></div>
        <div class="containerImgProduct"><img src="../../../../assets/images/5e84afb399f472497643a1be_el_caballo_negro.ico" style="width: 70%;" alt=""></div>
        <div class="containerImgProduct"><img src="../../../../assets/images/5e84afb399f472497643a1be_el_caballo_negro.ico" style="width: 70%;" alt=""></div>
        <div class="containerImgProduct"><img src="../../../../assets/images/5e84afb399f472497643a1be_el_caballo_negro.ico" style="width: 70%;" alt=""></div>
    </div>
</div>