        <div class="containerImgProduct">
            <!-- ******************** imagen del producto******************** -->
            <div class="product">
                <img src="../../../../assets/images/5e84afb399f472497643a1be_el_caballo_negro.ico" style="width: 100%;" alt="">
            </div>
            <!-- ******************** Descripcion de la card******************** -->
            <div class="descriptionProduc">
                <div class="price">
                    <strong>$000.000</strong>
                </div>
                <div class="price">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias impedit iste in natus sequi consequuntur dicta accusantium maiores. Provident autem tenetur non eveniet ullam.
                    </p>
                </div>
            </div>
        </div>