<section>
<div class="containerImg">
    <div class="iconImg">
        <button class="btn">
        <img src="../../../assets/images/mentha baby.png" alt="pañales">
        <em>Pañales</em>
    </button>
    </div>
    <div class="iconImg">
        <button class="btn">
        <img src="../../../assets/images/mentha baby.png" alt="pañales">
        <em>Toallas</em>
    </button>
    </div>
    <div class="iconImg">
        <button class="btn">
        <img  src="../../../assets/images/mentha baby.png" alt="pañales">
        <em>Ropita</em>
    </button>
    </div>
</div>
</section>